Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Removed rewardee from ClaimDto
  services/hype-backend/src/modules/reward/dto/claim.dto.ts
Due: run-backend-service-workflow

Fixing create pool with custom erc20 token (#277)
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/scripts/deploy_token.ts
  packages/contracts/scripts/deploy_upgradeable.ts
  services/client/src/components/modals/modal-container/ModalContainer.styled.tsx
  services/client/src/components/modals/modal-container/ModalContainer.tsx
  services/client/src/containers/modals/disconnect-telegram/DisconnectTelegram.tsx
  services/client/src/containers/modals/loading/LoadingModal.tsx
  services/client/src/containers/modals/notification/Notification.tsx
  services/client/src/containers/profile/ProfileContainer.tsx
  services/client/src/hooks/useCheckDepositsAndFund.tsx
  services/client/src/hooks/useEscrow.tsx
  services/client/src/hooks/useHypePools.tsx
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/src/modules/reward/dto/claim.dto.ts
Due: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Created logic for reading new telegram groups and no of messages
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
  services/hype-backend/data-source.ts
  services/hype-backend/src/abi/GroupManagerFacet.abi.json
  services/hype-backend/src/abi/index.ts
  services/hype-backend/src/entities/group.entity.ts
  services/hype-backend/src/migrations/1691929138307-TelegramGroupUpdates.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/ipfs/ipfs.module.ts
  services/hype-backend/src/modules/ipfs/ipfs.service.ts
  services/hype-backend/tsconfig.json
Due: run-backend-service-workflow

Separated ingester logic to new service
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/group/ingester.service.ts
Due: run-backend-service-workflow

Update group entity
  services/hype-backend/data-source.ts
  services/hype-backend/src/abi/GroupManagerFacet.abi.json
  services/hype-backend/src/abi/index.ts
  services/hype-backend/src/entities/group.entity.ts
  services/hype-backend/src/migrations/1691929138307-TelegramGroupUpdates.ts
  services/hype-backend/src/migrations/1692034454195-TelegramGroupUpdates.ts
  services/hype-backend/src/models/IGroup.ts
  services/hype-backend/src/modules/group/ingester.service.ts
  services/hype-backend/tsconfig.json
Due: run-backend-service-workflow

Moved oninit call to service
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/group.entity.ts
  services/hype-backend/src/migrations/1692035457211-TelegramGroupUpdates.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/ingester.service.ts
Due: run-backend-service-workflow

Changed logger to reflect correct call time
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-backend-service-workflow

Improved homepage design
  services/client/src/App.tsx
  services/client/src/assets/images/HypeLogo.svg
  services/client/src/assets/images/megaphone_illustration.png
  services/client/src/components/button/Button.styled.tsx
  services/client/src/components/header/Header.styled.tsx
  services/client/src/components/header/Header.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Removed unused images
  services/client/src/assets/images/megaphone.png
  services/client/src/assets/images/walkthrough.png
Due: run-client-service-workflow

Changed parsed chat file only to last page
  services/hype-backend/.env.example
  services/hype-backend/src/modules/group/ingester.service.ts
Due: run-backend-service-workflow

Improved homepage design (#281)
  services/client/src/App.tsx
  services/client/src/assets/images/HypeLogo.svg
  services/client/src/assets/images/megaphone.png
  services/client/src/assets/images/megaphone_illustration.png
  services/client/src/assets/images/walkthrough.png
  services/client/src/components/button/Button.styled.tsx
  services/client/src/components/header/Header.styled.tsx
  services/client/src/components/header/Header.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Created logic for reading new telegram groups and no of messages (#279)
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
  services/hype-backend/data-source.ts
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/entities/group.entity.ts
  services/hype-backend/src/migrations/1692035457211-TelegramGroupUpdates.ts
  services/hype-backend/src/models/IGroup.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/group/ingester.service.ts
  services/hype-backend/src/modules/ipfs/ipfs.module.ts
  services/hype-backend/src/modules/ipfs/ipfs.service.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-backend-service-workflow

Fixed module imports
  services/hype-backend/src/app.module.ts
Due: run-backend-service-workflow

Fixed module imports (#282)
  services/hype-backend/src/app.module.ts
Due: run-backend-service-workflow

Improved ingester service
  services/client/src/hooks/useHypePools.tsx
  services/hype-backend/src/abi/DataGatheringFacet.json
  services/hype-backend/src/abi/index.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/ingester.service.ts
  services/hype-backend/tsconfig.json
Due: run-client-service-workflow, run-backend-service-workflow

Fix/module imports (#283)
  services/client/src/hooks/useHypePools.tsx
  services/hype-backend/src/abi/DataGatheringFacet.json
  services/hype-backend/src/abi/index.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/ingester.service.ts
  services/hype-backend/tsconfig.json
Due: run-client-service-workflow, run-backend-service-workflow

client: removes campaign word from keywords list
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fixing reward bonus when user not found
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-backend-service-workflow

Fixing reward bonus when user not found (#285)
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-backend-service-workflow

Saving dateFrom when adding leaderboard bonus
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Fix/rewards bonus (#286)
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Showing leaderboard bonuses on Summary page
  services/client/src/components/leaderboard-bonus/LeaderboardBonus.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Showing leaderboard bonuses on Summary page (#287)
  services/client/src/components/leaderboard-bonus/LeaderboardBonus.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Sorting groups and added members and messages to the table
  services/client/src/models/TelegramGroup.model.ts
  services/client/src/pages/Group/Group.effects.tsx
  services/hype-backend/src/modules/group/group.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Sorting groups and added members and messages to the table (#288)
  services/client/src/models/TelegramGroup.model.ts
  services/client/src/pages/Group/Group.effects.tsx
  services/hype-backend/src/modules/group/group.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Debugging infinite scroll
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Home/Home.effects.tsx
Due: run-client-service-workflow

Debugging infinite scroll (#289)
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Home/Home.effects.tsx
Due: run-client-service-workflow

Removing max check for pool duration
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
Due: run-client-service-workflow

Removing max check for pool duration (#291)
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
Due: run-client-service-workflow

Enabled Pool link in header
  services/client/src/components/header/Header.effects.tsx
Due: run-client-service-workflow

Fixed dependency issues
  package.json
  yarn.lock
Due: none

Fix for parsing small wei numbers with decimals
  services/client/src/components/select/Select.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Florin/fix invalid big numbers (#293)
  package.json
  services/client/src/components/header/Header.effects.tsx
  services/client/src/components/select/Select.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  yarn.lock
Due: run-client-service-workflow

updates node version
  services/client/Dockerfile
  services/hype-backend/Dockerfile
Due: run-client-service-workflow, run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@01323aae21f80a2d684779a19b5999f32276a7ed 🚀
  project.json
Due: none

Removed dates for leaderboard
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Fixed migrations and luxon error
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/package.json
  services/hype-backend/src/modules/group/ingester.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Removed dates for leaderboard (#294)
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/package.json
  services/hype-backend/src/modules/group/ingester.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@b282c1c6e53409b805ad7cb6e0c43c6001d37809 🚀
  project.json
Due: none

Path conditions:
  run-contracts-package-workflow: any of: packages/contracts/.*
  run-client-service-workflow: any of: services/client/.*
  run-backend-service-workflow: any of: services/hype-backend/.*
