Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/contracts/.* run-contracts-package-workflow true
            services/client/.* run-client-service-workflow true
            services/hype-backend/.* run-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Formatting impression reward value
  services/client/src/components/card/Card.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/enums.ts
Due: run-client-service-workflow

Fix/hype fixes (#217)
  services/client/src/components/card/Card.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/hooks/useContractActivatePool.tsx
  services/client/src/hooks/useContractCreatePool.tsx
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/enums.ts
Due: run-client-service-workflow

Rewards changed per 1 impression
  services/client/src/components/card/Card.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/enums.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Fixed text
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@2c78639fd8ca53e78c732c0a94e9e7c12dde2a7a 🚀
  project.json
Due: none

backend: adds date fields to rewards
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1686241994466-RewardDate.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

backend: adds date fields to rewards
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
Due: run-backend-service-workflow

Fetching user by address case insensitive
  services/hype-backend/src/modules/user/user.service.ts
Due: run-backend-service-workflow

Revert "backend: adds date fields to rewards"
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1686241994466-RewardDate.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Updated migration for reward dates
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1686837924459-RewardDate.ts
  services/hype-backend/src/modules/user/user.service.ts
Due: run-backend-service-workflow

Proper handle API errors
  services/client/src/api/auth/useLogin.tsx
  services/client/src/api/ipfs/useUploadIpfs.tsx
  services/client/src/api/rewards/useRewardsClaim.ts
  services/client/src/api/user/useUpdateTelegram.tsx
  services/client/src/hooks/useAxiosInterceptors.tsx
  services/client/src/models/ApiResponse.model.ts
  services/client/src/models/index.ts
Due: run-client-service-workflow

Added impressions to reward
  services/hype-backend/src/entities/claim.entity.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1686866435929-Impressions.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Added username to reward
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@7a6215f52c49dcc30b496f0b1f22e797df090fba 🚀
  project.json
Due: none

Small fixes for Swagger and reward-claims
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/main.ts
  services/hype-backend/src/migrations/1687179992085-RewardClaimAssociation.ts
  services/hype-backend/src/migrations/1687180118398-RewardImpressions-String.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/modules/user/user.controller.ts
Due: run-backend-service-workflow

Removed unused migration
  services/hype-backend/src/migrations/1686866435929-Impressions.ts
Due: run-backend-service-workflow

Improved authentication
  services/client/src/api/pools/useGetJoinedPools.ts
  services/client/src/api/rewards/useGetUserRewards.ts
  services/client/src/api/rewards/useRequestRewards.ts
  services/client/src/api/user/useGetUser.tsx
  services/client/src/pages/Profile/Profile.effects.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/.env.example
  services/hype-backend/config/auth.ts
  services/hype-backend/src/modules/auth/auth.module.ts
  services/hype-backend/src/modules/auth/get-address.decorator.ts
  services/hype-backend/src/modules/auth/jwt-payload.ts
  services/hype-backend/src/modules/auth/jwt.strategy.ts
  services/hype-backend/src/modules/ipfs/ipfs.controller.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/src/modules/reward/reward.controller.ts
  services/hype-backend/src/modules/user/dto/get-by.dto.ts
  services/hype-backend/src/modules/user/dto/index.ts
  services/hype-backend/src/modules/user/user.controller.ts
  services/hype-backend/src/modules/user/user.service.ts
  services/hype-backend/test/user.e2e-spec.ts
Due: run-client-service-workflow, run-backend-service-workflow

Created new migration for changing the column names in Reward entity
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1687180118398-RewardImpressions-String.ts
  services/hype-backend/src/migrations/1687273276705-RewardColumnNameUpdate.ts
Due: run-backend-service-workflow

Added endpoints for pool stats and pool leaderboard
  services/hype-backend/src/modules/reward/dto/index.ts
  services/hype-backend/src/modules/reward/dto/poolStats.dto.ts
  services/hype-backend/src/modules/reward/dto/topTelegramAccounts.dto.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Added changes to support image upload
  packages/subgraph/schema.graphql
  packages/subgraph/src/hype-pool.ts
  services/client/src/api/ipfs/useUploadImage.tsx
  services/client/src/api/ipfs/useUploadIpfs.tsx
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/hype-backend/package.json
  services/hype-backend/src/modules/ipfs/dto/project-details.dto.ts
  services/hype-backend/src/modules/ipfs/ipfs.controller.ts
  services/hype-backend/src/modules/ipfs/ipfs.service.ts
  yarn.lock
Due: run-client-service-workflow, run-backend-service-workflow

Changed the default jwt expiry time to 7 days
  services/hype-backend/config/auth.ts
Due: run-backend-service-workflow

Updated impressions column type as decimal
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1687180118398-RewardImpressions-String.ts
  services/hype-backend/src/migrations/1687435940615-ImpressionDecimal.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Removed useRef and added state for handling image upload
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
Due: run-client-service-workflow

Removed jwt expiry as it is not used
  services/hype-backend/.env.example
  services/hype-backend/config/auth.ts
  services/hype-backend/src/modules/auth/auth.module.ts
  services/hype-backend/src/modules/auth/jwt-payload.ts
Due: run-backend-service-workflow

Remove state for currentRewards
  services/client/src/pages/Profile/Profile.effects.tsx
Due: run-client-service-workflow

Improved query for retrieving pool stats
  services/hype-backend/src/modules/reward/dto/poolStats.dto.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Added design for upload image
  services/client/src/api/ipfs/useUploadImage.tsx
  services/client/src/components/upload/Upload.styled.tsx
  services/client/src/components/upload/Upload.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.styled.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
Due: run-client-service-workflow

Fixed ipfs CID response
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/hype-backend/src/modules/ipfs/ipfs.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Fixed some data format issues
  services/client/src/pages/Profile/Profile.effects.tsx
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Added feedback when uploading image
  services/client/src/api/pools/query-collector.tsx
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Improved design for Pool details page
  services/client/src/api/pools/useGetPoolLeaderboard.ts
  services/client/src/api/pools/useGetPoolStats.ts
  services/client/src/assets/icons/Crown.tsx
  services/client/src/assets/icons/Flag.tsx
  services/client/src/assets/icons/Link.tsx
  services/client/src/assets/icons/TelegramIcon.tsx
  services/client/src/assets/icons/TwitterIcon.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/components/leaderboard/Leaderboard.styled.tsx
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/components/stats-card/StatsCard.styled.tsx
  services/client/src/components/stats-card/StatsCard.tsx
  services/client/src/components/styles/Text.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/models/Leaderboard.ts
  services/client/src/models/PoolStats.ts
  services/client/src/models/index.ts
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/index.ts
  services/client/src/utils/prettifyNumber.ts
Due: run-client-service-workflow

Added impressions table to unclaimed claim
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/models/Redeem.model.ts
  services/client/src/pages/Redeem/Redeem.tsx
  services/hype-backend/src/modules/reward/dto/rewardState.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Fetching pools in the order by creation
  services/client/src/api/pools/query-collector.tsx
  services/client/src/api/pools/useFetchHypePools.tsx
  services/client/src/pages/Profile/Profile.effects.tsx
Due: run-client-service-workflow

Removed unused import
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
Due: run-client-service-workflow

Improved logging
  services/client/src/api/pools/useFetchHypePools.tsx
  services/client/src/components/upload/Upload.tsx
  services/client/src/models/Leaderboard.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/src/modules/ipfs/ipfs.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Adjusted pool title
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Changed stats and keywords color
  services/client/src/components/stats-card/StatsCard.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
Due: run-client-service-workflow

Showing tooltip on share component buttons
  services/client/src/components/share-pool/SharePool.tsx
Due: run-client-service-workflow

Small updates based on review
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/models/Leaderboard.ts
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Showing token symbol instead of token name
  services/client/src/components/card/Card.tsx
  services/client/src/containers/modals/card-details/CardDetails.effects.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/hooks/useTokenDecimals.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow
