Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Changed name for rewars form to token symbol
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
Due: run-client-service-workflow

Moved pool image upload to new component
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Removed unnecessary key prop and improved wei no formatting
  services/client/src/components/card/Card.tsx
  services/client/src/components/header/Header.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/eth.ts
Due: run-client-service-workflow

Fixed migrations
  services/hype-backend/src/migrations/1687179992085-RewardClaimAssociation.ts
  services/hype-backend/src/migrations/1687273276705-RewardColumnNameUpdate.ts
Due: run-backend-service-workflow

Checking image when uploading
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
  services/hype-backend/src/modules/ipfs/dto/project-details.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Hiding values with no data
  packages/subgraph/src/hype-pool.ts
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fix upload image issues
  services/client/src/api/ipfs/useUploadImage.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/containers/modals/card-details/CardDetails.effects.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/hooks/index.ts
  services/client/src/hooks/useTokenDecimals.tsx
  services/client/src/hooks/useTokenDetails.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Uploading image if selected
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
Due: run-client-service-workflow

Small adjusted for pool stats
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Fixed small issues with fund hooks
  services/client/src/constants/addresses.ts
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
  services/client/src/hooks/useContractEscrowGetDepositsOf.tsx
  services/client/src/hooks/useTokenDetails.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Fixed rewards page
  services/client/src/components/transaction/Transaction.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/models/Redeem.model.ts
  services/client/src/models/Reward.model.ts
  services/client/src/pages/Redeem/Redeem.effects.tsx
Due: run-client-service-workflow

Fixed migrations (#238)
  services/hype-backend/src/migrations/1687179992085-RewardClaimAssociation.ts
  services/hype-backend/src/migrations/1687273276705-RewardColumnNameUpdate.ts
Due: run-backend-service-workflow

Fixed queries for leaderboard and reward impressions
  services/client/src/components/transaction/Transaction.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688031467409-RewardsTelegramGroup.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Updated rewards query
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

hype-backend: fixes hmac python encoding
  services/hype-backend/src/main.ts
  services/hype-backend/src/modules/guards/hmac.guard.ts
Due: run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@7d282a35f1df198a5595d89ae4e0e45d65c01b9e 🚀
  project.json
Due: none

Fix/image upload (#248)
  packages/subgraph/src/hype-pool.ts
  services/client/src/api/auth/useLogin.tsx
  services/client/src/api/ipfs/useUploadImage.tsx
  services/client/src/api/ipfs/useUploadIpfs.tsx
  services/client/src/api/rewards/useRewardsClaim.ts
  services/client/src/api/user/useUpdateTelegram.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/components/transaction/Transaction.tsx
  services/client/src/constants/addresses.ts
  services/client/src/containers/modals/card-details/CardDetails.effects.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/hooks/index.ts
  services/client/src/hooks/useAxiosInterceptors.tsx
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
  services/client/src/hooks/useContractEscrowGetDepositsOf.tsx
  services/client/src/hooks/useTokenDecimals.tsx
  services/client/src/hooks/useTokenDetails.tsx
  services/client/src/models/ApiResponse.model.ts
  services/client/src/models/Redeem.model.ts
  services/client/src/models/Reward.model.ts
  services/client/src/models/index.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/DetailsForm/HypeImageUpload.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688031467409-RewardsTelegramGroup.ts
  services/hype-backend/src/modules/ipfs/dto/project-details.dto.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Small fix for leadeboard
  services/client/src/utils/networks.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Fixed stuck buttons on claim fail
  services/client/src/hooks/useContractEscrowClaim.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
Due: run-client-service-workflow

Revert "Small fix for leadeboard"
  services/client/src/utils/networks.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Revert "Revert "Small fix for leadeboard""
  services/client/src/utils/networks.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Resetting contract hooks if error
  services/client/src/hooks/useContractActivatePool.tsx
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowClaim.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@bab4ac57c0d2c1bcbc3c339ff7492555a667dd82 🚀
  203.ae0d33d2.iframe.bundle.js
  203.ae0d33d2.iframe.bundle.js.LICENSE.txt
  203.eca8b901.iframe.bundle.js
  iframe.html
  main.531e47bb.iframe.bundle.js
  main.8d9fde90.iframe.bundle.js
  project.json
Due: none

Fixed pool search and changing wallet account
  services/client/package.json
  services/client/src/context/auth-context.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/client/src/utils/fullIpfsUrl.ts
  services/hype-backend/src/utils/ipfs.ts
  yarn.lock
Due: run-client-service-workflow, run-backend-service-workflow

Exclude nullish values for leaderboard
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Fix/small fixes (#249)
  services/client/package.json
  services/client/src/context/auth-context.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/client/src/utils/fullIpfsUrl.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/utils/ipfs.ts
  yarn.lock
Due: run-client-service-workflow, run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@c2cbdfbb6ce649119e87b8ac2d34ff97b0be8301 🚀
  203.ae0d33d2.iframe.bundle.js
  443.82b3c47d.iframe.bundle.js
  443.82b3c47d.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.531e47bb.iframe.bundle.js
  main.ec7319bd.iframe.bundle.js
  project.json
Due: none

Fix issue with useToken when not custom token
  services/client/src/hooks/useTokenDetails.tsx
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
Due: run-client-service-workflow, run-backend-service-workflow

Displaying telegram id if username null
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Replaced icons with emojis
  services/client/src/assets/icons/Crown.tsx
  services/client/src/assets/icons/Flag.tsx
  services/client/src/components/leaderboard/Leaderboard.styled.tsx
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Limiting the leaderboard to 10 results and filtering expired hype pools
  services/client/src/components/stats-card/StatsCard.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/utils/prettifyNumber.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Resetting data after claim
  services/client/src/hooks/useContractEscrowClaim.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
Due: run-client-service-workflow

Improved responsiveness for pool details
  services/client/src/components/leaderboard/Leaderboard.styled.tsx
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Replaced flex-column with flex wrap
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
Due: run-client-service-workflow

Resetting claim hook
  services/client/src/hooks/useContractEscrowClaim.tsx
  yarn.lock
Due: run-client-service-workflow

Fixed escrow claim hook
  services/client/src/hooks/useContractEscrowClaim.tsx
Due: run-client-service-workflow

Displaying cumulative rewards per claim
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/models/Redeem.model.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Check if impressions and telegramGroup are not null when doing sum
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Path conditions:
  run-contracts-package-workflow: any of: packages/contracts/.*
  run-client-service-workflow: any of: services/client/.*
  run-backend-service-workflow: any of: services/hype-backend/.*
