Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Pool details ui improvements
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Added handle block for subgraph
  packages/subgraph/schema.graphql
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: none

Removing block handler
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: none

Started working on pool cron
  services/hype-backend/data-source.ts
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/entities/index.ts
  services/hype-backend/src/entities/pool.entity.ts
  services/hype-backend/src/migrations/1690367588182-HypePool.ts
  services/hype-backend/src/models/IPool.ts
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/pool/pool-status.service.ts
  services/hype-backend/src/modules/pool/pool.module.ts
Due: run-backend-service-workflow

Small adjustements
  services/client/src/hooks/index.ts
  services/client/src/hooks/useBrowserProvider.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
Due: run-client-service-workflow

Resolved several raised concerns
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/DynamicEscrowBase.sol
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Added latest changes to subgraph
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: none

Applied changes from contracts and subgraph to client and backend
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/subgraph/src/escrow.ts
  packages/subgraph/tests/hype-pool-utils.ts
  services/client/src/api/pools/query-collector.tsx
  services/client/src/components/card/Card.stories.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/containers/modals/card-details/CardDetails.effects.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/context/modal/reducer.ts
  services/client/src/hooks/useContractCreatePool.tsx
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.effects.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/pools.ts
  services/hype-backend/src/models/IPool.ts
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

small adjustment
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/docs/main.js
Due: run-contracts-package-workflow

Adding the leaderboard rewards
  packages/subgraph/src/escrow.ts
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/pools.ts
Due: run-client-service-workflow

Added handle block to subgraph
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: none

Added dynamic form array for leader rewards
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
Due: run-client-service-workflow

Resolved comments
  services/client/src/hooks/useEscrow.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Removed pool id from deposit struct and added pool id to hash generation for claim
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/DynamicEscrowBase.sol
  packages/contracts/contracts/interfaces/IEscrow.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Simplified events and checks
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: run-contracts-package-workflow

Left details and rewards as separated events
  packages/contracts/artifacts/contracts/AccessControl.sol/AccessControl.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/HypeToken.sol/HypeToken.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/contracts/hardhat.config.ts
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: run-contracts-package-workflow

Combined both events from pool
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: run-contracts-package-workflow

Removed details and rewards events
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/hype-pool.ts
  packages/subgraph/subgraph.yaml
Due: run-contracts-package-workflow

Removed viaIR
  packages/contracts/artifacts/contracts/AccessControl.sol/AccessControl.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/HypeToken.sol/HypeToken.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/hardhat.config.ts
Due: run-contracts-package-workflow

Tested pool creation
  packages/contracts/contracts/HypePoolBase.sol
  packages/subgraph/subgraph.yaml
  services/client/src/hooks/useHypePools.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
Due: run-contracts-package-workflow, run-client-service-workflow

Fixing display fund or activate on pool details
  services/client/src/hooks/useContracts.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fixed show activate on pool summary
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
Due: run-client-service-workflow

Adjusted leaderboard bonus
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Showing leader rewards from the pool contract
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Created additional check for pool status
  services/client/src/components/card/Card.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/pools.ts
Due: run-client-service-workflow

Added additional filtering for Active and Inactive pools on search
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-client-service-workflow

Fix for checking pool status
  services/client/src/utils/pools.ts
Due: run-client-service-workflow

Separted similar logic from details and summary into new hook
  services/client/src/hooks/index.ts
  services/client/src/hooks/useCheckDepositsAndFund.tsx
  services/client/src/hooks/useContracts.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

small fixes
  packages/contracts/scripts/deploy_upgradeable.ts
  services/client/src/hooks/index.ts
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-contracts-package-workflow, run-client-service-workflow

Backend improvements
  packages/subgraph/src/escrow.ts
  services/client/src/api/rewards/useRewardsClaim.ts
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Renamed function getUnClaimedClaim
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Backend improvements (#276)
  packages/subgraph/src/escrow.ts
  services/client/src/api/rewards/useRewardsClaim.ts
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

subgraph: updates abis
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
Due: none

Fixing create pool with custom erc20 token
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/scripts/deploy_token.ts
  services/client/src/hooks/useEscrow.tsx
  services/client/src/hooks/useHypePools.tsx
Due: run-contracts-package-workflow, run-client-service-workflow

Disabling isDeposit after activating pool
  services/client/src/hooks/useCheckDepositsAndFund.tsx
Due: run-client-service-workflow

Solved error with missing escrow contract
  services/client/src/hooks/useEscrow.tsx
Due: run-client-service-workflow

Improved design for modals
  services/client/src/components/modals/modal-container/ModalContainer.styled.tsx
  services/client/src/components/modals/modal-container/ModalContainer.tsx
  services/client/src/containers/modals/disconnect-telegram/DisconnectTelegram.tsx
  services/client/src/containers/modals/loading/LoadingModal.tsx
  services/client/src/containers/modals/notification/Notification.tsx
  services/client/src/containers/profile/ProfileContainer.tsx
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fixed deploy upgradable escrow
  packages/contracts/scripts/deploy_upgradeable.ts
Due: run-contracts-package-workflow

Fix for claim
  services/client/src/pages/Redeem/Redeem.effects.tsx
Due: run-client-service-workflow

Path conditions:
  run-contracts-package-workflow: any of: packages/contracts/.*
  run-client-service-workflow: any of: services/client/.*
  run-backend-service-workflow: any of: services/hype-backend/.*
