Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/contracts/.* run-contracts-package-workflow true
            services/client/.* run-client-service-workflow true
            services/hype-backend/.* run-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fixed design for home page
  services/client/src/assets/images/walkthrough.png
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-client-service-workflow

Get and search telegram groups
  services/client/src/api/group/useGetGroups.tsx
  services/client/src/components/telegram-group/TGroup.styles.tsx
  services/client/src/components/telegram-group/TGroup.tsx
  services/client/src/models/TelegramGroup.model.ts
  services/client/src/models/index.ts
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/hype-backend/pool_impressions_example.json
  services/hype-backend/src/modules/group/dto/get-filter.dto.ts
  services/hype-backend/src/modules/group/group.controller.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/tsconfig.json
Due: run-client-service-workflow, run-backend-service-workflow

Feat/telegram group page (#196)
  services/client/src/api/group/useGetGroups.tsx
  services/client/src/assets/images/walkthrough.png
  services/client/src/components/telegram-group/TGroup.styles.tsx
  services/client/src/components/telegram-group/TGroup.tsx
  services/client/src/models/TelegramGroup.model.ts
  services/client/src/models/index.ts
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/hype-backend/pool_impressions_example.json
  services/hype-backend/src/modules/group/dto/get-filter.dto.ts
  services/hype-backend/src/modules/group/group.controller.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/tsconfig.json
Due: run-client-service-workflow, run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@de5432d5e052649529e1e9b5fd98ec6251b96364 🚀
  iframe.html
  main.e578938f.iframe.bundle.js
  main.fc572232.iframe.bundle.js
  project.json
Due: none

Small ui improvs for telegram groups page
  services/client/src/components/telegram-group/TGroup.styles.tsx
  services/client/src/components/telegram-group/TGroup.tsx
  services/client/src/pages/Participate/Participate.styled.tsx
Due: run-client-service-workflow

Adjusted font and header icon
  services/client/src/components/header/Header.tsx
  services/client/src/components/how-it-works/HowItWorks.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/Profile/Profile.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@bfd0618fc7b5818f92015c5b4eb04650f9db437c 🚀
  project.json
Due: none

Updated index page
  services/client/public/index.html
  services/client/public/logo192.png
  services/client/public/logo512.png
Due: run-client-service-workflow

Fixed telegram groups pagination
  services/client/src/api/group/useGetGroups.tsx
  services/client/src/components/button/TelegramListButton.tsx
  services/client/src/components/button/TelegramSubmitGroupButton.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.tsx
Due: run-client-service-workflow

Adjusted fetch size for pagination
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.tsx
Due: run-client-service-workflow

Fix/frontend adjustments (#198)
  services/client/public/index.html
  services/client/public/logo192.png
  services/client/public/logo512.png
  services/client/src/api/group/useGetGroups.tsx
  services/client/src/components/button/TelegramListButton.tsx
  services/client/src/components/button/TelegramSubmitGroupButton.tsx
  services/client/src/components/header/Header.tsx
  services/client/src/components/how-it-works/HowItWorks.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/Profile/Profile.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@62fea9173037159a278e7545df5fb1eb98a7f58e 🚀
  iframe.html
  logo192.png
  logo512.png
  main.38697f6e.iframe.bundle.js
  main.e578938f.iframe.bundle.js
  project.json
Due: none

Created table component to use for telegram groups
  services/client/src/components/header/Header.tsx
  services/client/src/components/table/Table.styles.tsx
  services/client/src/components/table/Table.tsx
  services/client/src/components/telegram-group/TGroup.styles.tsx
  services/client/src/components/telegram-group/TGroup.tsx
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.tsx
Due: run-client-service-workflow

Created table component to use for telegram groups (#199)
  services/client/src/components/header/Header.tsx
  services/client/src/components/table/Table.styles.tsx
  services/client/src/components/table/Table.tsx
  services/client/src/components/telegram-group/TGroup.styles.tsx
  services/client/src/components/telegram-group/TGroup.tsx
  services/client/src/pages/Group/Group.effects.tsx
  services/client/src/pages/Group/Group.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@6ea4c9a975c8d7bd7c2f67576b8646409f7b7fc4 🚀
  iframe.html
  main.38697f6e.iframe.bundle.js
  main.ef00217f.iframe.bundle.js
  project.json
Due: none

adds documentation to hype contracts
  packages/contracts/README.md
Due: run-contracts-package-workflow

fix html to be rendered
  packages/contracts/README.md
Due: run-contracts-package-workflow

client: changes footer
  services/client/src/App.tsx
  services/client/src/assets/images/taraxa_logo.png
  services/client/src/components/footer/Footer.styled.tsx
  services/client/src/components/footer/Footer.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-client-service-workflow

client: adds t&c and privacy policy pages
  services/client/src/App.tsx
  services/client/src/pages/PrivacyPolicy/PrivacyPolicy.tsx
  services/client/src/pages/PrivacyPolicy/index.ts
  services/client/src/pages/TermsAndConditions/TermsAndConditions.tsx
  services/client/src/pages/TermsAndConditions/index.ts
  services/client/src/pages/index.ts
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@31d79baa551b13c50c30d0648bf8a2069b8597ef 🚀
  project.json
Due: none

Added improvements to UI
  services/client/src/api/pools/query-collector.tsx
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fixing fetching deposits of on page reload
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Added improvements to UI (#200)
  services/client/src/api/pools/query-collector.tsx
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/models/HypePool.model.ts
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fix for details page
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@b13da80b192d2f16d644f69700b1f339d27ebbbd 🚀
  iframe.html
  main.d1d79169.iframe.bundle.js
  main.ef00217f.iframe.bundle.js
  project.json
Due: none

Fixed share component
  services/client/src/components/share-pool/SharePool.tsx
Due: run-client-service-workflow

Fixed share component (#208)
  services/client/src/components/share-pool/SharePool.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@9e9ec11612805daab6ba0cd20ee10fd7559e2c00 🚀
  project.json
Due: none

Removed pool popup and added og meta details
  services/client/public/hype.png
  services/client/public/index.html
  services/client/src/containers/profile/CardContainer.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Profile/Profile.effects.tsx
  services/client/src/pages/Profile/Profile.tsx
Due: run-client-service-workflow

Removed meta og url
  services/client/public/index.html
Due: run-client-service-workflow

Fix/pool details (#209)
  services/client/public/hype.png
  services/client/public/index.html
  services/client/src/containers/profile/CardContainer.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Profile/Profile.effects.tsx
  services/client/src/pages/Profile/Profile.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@97d88d95d424806919c5744d26bdd053d505b630 🚀
  hype.png
  project.json
Due: none

Fixed layout issues for mobile
  services/client/src/components/footer/Footer.styled.tsx
  services/client/src/components/footer/Footer.tsx
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
Due: run-client-service-workflow

Improved responsivness and created reusable container component
  services/client/src/App.tsx
  services/client/src/components/card/Card.styled.tsx
  services/client/src/components/container/RoundContainer.styled.tsx
  services/client/src/containers/profile/CardContainer.tsx
  services/client/src/containers/profile/ProfileContainer.tsx
  services/client/src/containers/profile/RewardsContainer.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/pages/AddHypePool/AddHypePool.styled.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.styled.tsx
  services/client/src/pages/Participate/Participate.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Improved responsivness and created reusable container component (#213)
  services/client/src/App.tsx
  services/client/src/components/card/Card.styled.tsx
  services/client/src/components/container/RoundContainer.styled.tsx
  services/client/src/containers/profile/CardContainer.tsx
  services/client/src/containers/profile/ProfileContainer.tsx
  services/client/src/containers/profile/RewardsContainer.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/pages/AddHypePool/AddHypePool.styled.tsx
  services/client/src/pages/AddHypePool/AddHypePool.tsx
  services/client/src/pages/Group/Group.styles.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.styled.tsx
  services/client/src/pages/Participate/Participate.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

backend: fixes impressions saving
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/guards/hmac.guard.ts
  services/hype-backend/src/modules/guards/wallet.guard.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/reward/pools.controller.ts
  services/hype-backend/src/modules/reward/reward.controller.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@3357581c2430c36c2f7b58322e18d0a4cb2f9857 🚀
  iframe.html
  main.8d9fde90.iframe.bundle.js
  main.d1d79169.iframe.bundle.js
  project.json
Due: none

Minor fixes
  services/client/src/components/card/Card.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/hooks/useContractActivatePool.tsx
  services/client/src/hooks/useContractCreatePool.tsx
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Fix label name for reward impressions
  services/client/src/components/card/Card.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Solved url builder for share hype pool
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
Due: run-client-service-workflow
