Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

Improved share icons responsiveness
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
Due: run-client-service-workflow

Showing message if Leaderboard empty
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Improving formatting stats
  services/client/src/components/stats-card/StatsCard.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/utils/prettifyNumber.ts
Due: run-client-service-workflow

Added composite key for rewards
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688412946549-UniqueReward.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Update the unique composite key for reward
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688412946549-UniqueReward.ts
  services/hype-backend/src/migrations/1688469554091-UniqueReward.ts
Due: run-backend-service-workflow

Updated claims cumulative method to sql query
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Showing pool stats even if token claims is null
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

default impressions for pool stats
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Added improvements to rewards and claims logic
  services/client/src/components/transaction/Transaction.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/models/Redeem.model.ts
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/utils/prettifyNumber.ts
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688485811000-RemovedRewardClaimed.ts
  services/hype-backend/src/models/IReward.ts
  services/hype-backend/src/modules/reward/dto/rewardState.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Showing expired status for pools
  services/client/src/components/card/Card.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fix/small fixes (#250)
  services/client/src/assets/icons/Crown.tsx
  services/client/src/assets/icons/Flag.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/components/leaderboard/Leaderboard.styled.tsx
  services/client/src/components/leaderboard/Leaderboard.tsx
  services/client/src/components/share-pool/SharePool.styled.tsx
  services/client/src/components/share-pool/SharePool.tsx
  services/client/src/components/stats-card/StatsCard.styled.tsx
  services/client/src/components/stats-card/StatsCard.tsx
  services/client/src/components/transaction/Transaction.tsx
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/hooks/useContractEscrowClaim.tsx
  services/client/src/hooks/useTokenDetails.tsx
  services/client/src/models/Redeem.model.ts
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.styled.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/client/src/utils/prettifyNumber.ts
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1688469554091-UniqueReward.ts
  services/hype-backend/src/migrations/1688485811000-RemovedRewardClaimed.ts
  services/hype-backend/src/models/IReward.ts
  services/hype-backend/src/modules/reward/dto/rewardState.dto.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  yarn.lock
Due: run-client-service-workflow, run-backend-service-workflow

Prettify impressions on pool stats
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Fix pool stats with claimId
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Updated claim stats
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-backend-service-workflow

Prettify impressions on pool stats (#259)
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@dfd0c52e7830d8b58fd22372054bcd008ce23ebe 🚀
  iframe.html
  main.ec7319bd.iframe.bundle.js
  main.f0ac1fe3.iframe.bundle.js
  project.json
Due: none

Toggle active/inactive pools
  services/client/src/api/pools/query-collector.tsx
  services/client/src/api/pools/useFetchHypePools.tsx
  services/client/src/components/toggle-switch/ToggleSwitch.styles.tsx
  services/client/src/components/toggle-switch/ToggleSwitch.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-client-service-workflow

Removed useEffect for search string
  services/client/src/api/pools/useFetchHypePools.tsx
  services/client/src/pages/Home/Home.effects.tsx
Due: run-client-service-workflow

Feat/pool status toggle (#260)
  services/client/src/api/pools/query-collector.tsx
  services/client/src/api/pools/useFetchHypePools.tsx
  services/client/src/components/toggle-switch/ToggleSwitch.styles.tsx
  services/client/src/components/toggle-switch/ToggleSwitch.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.tsx
Due: run-client-service-workflow

Setup for cron for releasing rewards
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
  services/hype-backend/package.json
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/cron.ts
  services/hype-backend/src/models/IPool.ts
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/reward/dto/topTelegramAccounts.dto.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.module.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/modules/user/user.service.ts
Due: run-backend-service-workflow

Updated logic for saving rewards for top 3 users in leaderboard
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/models/Redeem.model.ts
  services/hype-backend/.env.example
  services/hype-backend/config/ethereum.ts
  services/hype-backend/data-source.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1689163303605-RewardsIsBonus.ts
  services/hype-backend/src/models/IClaim.ts
  services/hype-backend/src/models/IReward.ts
  services/hype-backend/src/modules/reward/dto/rewardState.dto.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Showing hardcoded bonuses on the pool details page
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Adjusted package.json and fixed end date for active pools
  services/hype-backend/package.json
  services/hype-backend/src/modules/graphql/graphQl.service.ts
Due: run-backend-service-workflow

Showing project name in Keywords
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Updated active pools timestamp for last week
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
Due: run-backend-service-workflow

Feat/weekly bonus (#263)
  services/client/src/containers/redeem/ImpressionsList.tsx
  services/client/src/models/Redeem.model.ts
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/hype-backend/data-source.ts
  services/hype-backend/package.json
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/cron.ts
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1689163303605-RewardsIsBonus.ts
  services/hype-backend/src/models/IClaim.ts
  services/hype-backend/src/models/IPool.ts
  services/hype-backend/src/models/IReward.ts
  services/hype-backend/src/modules/graphql/graphQl.service.ts
  services/hype-backend/src/modules/reward/dto/rewardState.dto.ts
  services/hype-backend/src/modules/reward/dto/topTelegramAccounts.dto.ts
  services/hype-backend/src/modules/reward/reward-task.service.ts
  services/hype-backend/src/modules/reward/reward.module.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/modules/user/user.service.ts
Due: run-client-service-workflow, run-backend-service-workflow

Showing token word in Keywords
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Feat/pool keywords (#267)
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Creating hooks for hype and escrow contracts
  services/client/src/hooks/useContractEscrow.tsx
  services/client/src/hooks/useContractPools.tsx
  services/client/src/hooks/useEscrow.tsx
  services/client/src/hooks/useHypePools.tsx
  services/client/src/hooks/useMainnet.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
Due: run-client-service-workflow

Replacing wagmin contract hooks with new hooks
  services/client/src/hooks/index.ts
  services/client/src/hooks/old/useContractActivatePool.tsx
  services/client/src/hooks/old/useContractCreatePool.tsx
  services/client/src/hooks/old/useContractERC20Approve.tsx
  services/client/src/hooks/old/useContractEscrowClaim.tsx
  services/client/src/hooks/old/useContractEscrowDeposit.tsx
  services/client/src/hooks/old/useContractEscrowGetDepositsOf.tsx
  services/client/src/hooks/old/useContractGetPool.tsx
  services/client/src/hooks/old/useContractPoolURI.tsx
  services/client/src/hooks/useEscrow.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
Due: run-client-service-workflow

Fixing fund and claim actions
  services/client/src/hooks/useEscrow.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@0a2a75de7a3e9ba5535145e937df44f360043760 🚀
  project.json
Due: none

Cleared a bit the contract hooks files
  services/client/src/hooks/index.ts
  services/client/src/hooks/useBrowserProvider.tsx
  services/client/src/hooks/useContractEscrow.tsx
  services/client/src/hooks/useContractPools.tsx
  services/client/src/hooks/useContracts.tsx
  services/client/src/hooks/useEscrow.tsx
  services/client/src/hooks/useHypePools.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-client-service-workflow

Removed wagmi contract hooks
  services/client/src/hooks/old/useContractActivatePool.tsx
  services/client/src/hooks/old/useContractCreatePool.tsx
  services/client/src/hooks/old/useContractERC20Approve.tsx
  services/client/src/hooks/old/useContractEscrowClaim.tsx
  services/client/src/hooks/old/useContractEscrowDeposit.tsx
  services/client/src/hooks/old/useContractEscrowGetDepositsOf.tsx
  services/client/src/hooks/old/useContractGetPool.tsx
  services/client/src/hooks/old/useContractPoolURI.tsx
Due: run-client-service-workflow

Checking Grace Period before withdrawl in Escrow
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/DynamicEscrowBase.sol
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IEscrow.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/docs/main.js
  packages/contracts/scripts/deploy_plain.ts
  packages/contracts/scripts/deploy_upgradeable.ts
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Added methods for checking pool status
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Added rewards for top 3 leaders in pool
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Removed active property from Hype Pool
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Added subgraph changes for new logic
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/escrow.ts
  packages/subgraph/src/hype-pool.ts
Due: none

Added new basic modal
  services/client/src/containers/modals/ModalsCenter.tsx
  services/client/src/containers/modals/basic/Basic.tsx
  services/client/src/containers/modals/basic/index.ts
  services/client/src/containers/modals/index.ts
  services/client/src/context/modal/reducer.ts
  services/client/src/context/modal/types.ts
  services/client/src/theme/HypeTheme.tsx
  services/client/src/theme/types.ts
  services/client/src/utils/enums.ts
Due: run-client-service-workflow

Path conditions:
  run-contracts-package-workflow: any of: packages/contracts/.*
  run-client-service-workflow: any of: services/client/.*
  run-backend-service-workflow: any of: services/hype-backend/.*
