Repository Taraxa-project/hype: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-contracts-package-workflow, run-client-service-workflow, run-backend-service-workflow

fixes contracts tests
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
Due: run-contracts-package-workflow

Deploying to gh-pages from @ Taraxa-project/hype@cce193828dc3992e4955d18085c4909c16b0a73d 🚀
  project.json
Due: none

updates subgraph abis
  packages/subgraph/abis/DynamicEscrow.json
  packages/subgraph/abis/DynamicEscrow/DynamicEscrow.json
  packages/subgraph/abis/DynamicEscrow/ERC20.json
  packages/subgraph/abis/DynamicEscrow/ERC20Basic.json
  packages/subgraph/abis/HypePool.json
  packages/subgraph/abis/HypePool/HypePool.json
  packages/subgraph/networks.json
  packages/subgraph/subgraph.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/hype@b6bdab656cd10f83db03ee48e98e084b3d45e426 🚀
  project.json
Due: none

subgraph: fixes error
  packages/subgraph/src/hype-pool.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/hype@b391846a00d45786233079e3f8b3d76e8221b453 🚀
  project.json
Due: none

client: adds more comprehensive message to sign
  services/client/.env.example
  services/client/docker-files/entrypoint.sh
  services/client/public/sitemap.xml
  services/client/robots.txt
  services/client/src/App.tsx
  services/client/src/api/auth/useGetAuthMessage.tsx
  services/client/src/components/card/Card.tsx
  services/client/src/components/scrollToTop/ScrollToTop.tsx
  services/client/src/containers/profile/ProfileContainer.tsx
  services/client/src/context/auth-context.tsx
  services/client/src/models/JWTResponse.model.ts
  services/client/src/pages/AddHypePool/Completed/Completed.tsx
  services/client/src/pages/AddHypePool/DetailsForm/DetailsForm.tsx
  services/client/src/pages/AddHypePool/RewardForm/RewardForm.effects.tsx
  services/client/src/pages/Profile/Profile.tsx
Due: run-client-service-workflow

client: fixes disconnect telegram popup
  services/client/src/pages/Profile/Profile.effects.tsx
Due: run-client-service-workflow

backend: updates urls
  services/hype-backend/.env.example
  services/hype-backend/config/auth.ts
Due: run-backend-service-workflow

ci: trigger
  services/client/.env.example
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@b6ae25d56d98115c115eb32279ca25f22157ae43 🚀
  iframe.html
  main.e11ee836.iframe.bundle.js
  main.fc572232.iframe.bundle.js
  project.json
  sitemap.xml
Due: none

Revert "ci: trigger"
  services/client/.env.example
Due: run-client-service-workflow

Deploying to gh-pages from @ Taraxa-project/hype@33219b36d15cce40b1056831ff57b54783bde5da 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/hype@8b4d7c44c678090b0148295bfd35751711461792 🚀
  project.json
Due: none

Enable deploying and reading from escrow contract on ETH and Goerli
  packages/contracts/.env.example
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/subgraph/subgraph.yaml
  services/client/.env.example
  services/client/Dockerfile
  services/client/docker-files/entrypoint.sh
  services/client/src/constants/addresses.ts
  services/client/src/hooks/useContractERC20Approve.tsx
  services/client/src/hooks/useContractEscrowDeposit.tsx
  services/client/src/hooks/useContractEscrowGetDepositsOf.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/PoolDetails/PoolDetails.effects.tsx
Due: run-contracts-package-workflow, run-client-service-workflow

Reverted changes to subgraph file
  packages/subgraph/subgraph.yaml
Due: none

Added urls for actions in participate now page
  services/client/src/pages/Participate/Participate.tsx
Due: run-client-service-workflow

Added footer
  services/client/src/App.tsx
  services/client/src/assets/images/logo.svg
  services/client/src/components/footer/Footer.styled.tsx
  services/client/src/components/footer/Footer.tsx
  services/hype-backend/src/modules/reward/pools.controller.ts
Due: run-client-service-workflow, run-backend-service-workflow

Added telegram container to home page
  services/client/src/assets/images/logo.svg
  services/client/src/assets/images/taraxa_logo.png
  services/client/src/components/footer/Footer.styled.tsx
  services/client/src/components/footer/Footer.tsx
  services/client/src/components/header/Header.tsx
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Participate/Participate.tsx
Due: run-client-service-workflow

Allowing decimals for pool cap and impressions and minor bug fixing
  services/client/src/containers/profile/CardContainer.tsx
  services/client/src/containers/redeem/RewardsListContainer.tsx
  services/client/src/containers/redeem/TransactionsContainer.tsx
  services/client/src/pages/AddHypePool/AddHypePool.effects.tsx
  services/client/src/pages/AddHypePool/Summary/Summary.effects.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/client/src/utils/eth.ts
Due: run-client-service-workflow

Added activator role to hype activation process
  packages/contracts/.eslintrc.js
  packages/contracts/.prettierrc
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
  packages/contracts/docs/main.js
  packages/contracts/test/escrow.test.ts
  packages/contracts/test/escrow.upgradeable.test.ts
  packages/contracts/test/hype.test.ts
  packages/contracts/test/hype.upgradeable.test.ts
Due: run-contracts-package-workflow

Added immutable to activator variable
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
Due: run-contracts-package-workflow

Saving impressions without users needing to be registered
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/migrations/1683714914155-RewardsTelegramUser.ts
  services/hype-backend/src/modules/guards/hmac.guard.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/modules/user/user.service.ts
Due: run-backend-service-workflow

Changed telegram id to string
  services/hype-backend/src/entities/reward.entity.ts
  services/hype-backend/src/entities/user.entity.ts
  services/hype-backend/src/migrations/1683716076672-UserTelegramIdUpdate.ts
  services/hype-backend/src/models/IHypeUser.ts
  services/hype-backend/src/modules/reward/dto/impression.dto.ts
  services/hype-backend/src/modules/user/dto/user.dto.ts
  services/hype-backend/src/modules/user/user.service.ts
  services/hype-backend/test/user.e2e-spec.ts
Due: run-backend-service-workflow

Updated migrations and client telegram id
  services/client/src/models/User.model.ts
  services/client/src/pages/Profile/Profile.effects.tsx
  services/hype-backend/data-source.ts
Due: run-client-service-workflow, run-backend-service-workflow

Removed migrations and create a new Schema migration
  services/hype-backend/data-source.ts
  services/hype-backend/src/migrations/1678191755364-Schema.ts
  services/hype-backend/src/migrations/1683714914155-RewardsTelegramUser.ts
  services/hype-backend/src/migrations/1683716076672-UserTelegramIdUpdate.ts
  services/hype-backend/src/migrations/1683716654047-Schema.ts
Due: run-backend-service-workflow

Updating rewards when user connects telegram id
  services/hype-backend/src/modules/reward/reward.module.ts
  services/hype-backend/src/modules/reward/reward.service.ts
  services/hype-backend/src/modules/user/user.module.ts
  services/hype-backend/src/modules/user/user.service.ts
Due: run-backend-service-workflow

Created HypePoolBase contract inherited by normal and upgradable contracts
  packages/contracts/artifacts/contracts/AccessControl.sol/AccessControl.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IAccessControl.sol/IAccessControl.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePoolBase.sol/IHypePoolBase.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/AccessControl.sol
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IAccessControl.sol
  packages/contracts/contracts/interfaces/IHypePoolBase.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
  packages/contracts/docs/main.js
Due: run-contracts-package-workflow

Created DynamicEscrowBase to be rused by the normal and upgradable contracts
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/ERC20.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/ERC20Basic.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/DynamicEscrowBase.sol
  packages/contracts/contracts/interfaces/IEscrow.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/docs/main.js
Due: run-contracts-package-workflow

Removed super from calling base contract functions
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrow.sol
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/upgradeable/DynamicEscrowUpgradeable.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
Due: run-contracts-package-workflow

Small ui improvs
  services/client/src/containers/modals/card-details/CardDetails.tsx
  services/client/src/pages/PoolDetails/PoolDetails.tsx
Due: run-client-service-workflow

Resolved comments
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
  services/client/src/pages/Redeem/Redeem.effects.tsx
  services/client/src/utils/eth.ts
Due: run-contracts-package-workflow, run-client-service-workflow

Fix for user controller
  services/hype-backend/src/modules/user/user.controller.ts
Due: run-backend-service-workflow

Feat/eth network suppport (#195)
  services/hype-backend/src/modules/user/user.controller.ts
Due: run-backend-service-workflow

renamed IHypePool back
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/DynamicEscrow.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrow.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/DynamicEscrowBase.sol/DynamicEscrowBase.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.dbg.json
  packages/contracts/artifacts/contracts/HypePool.sol/HypePool.json
  packages/contracts/artifacts/contracts/HypePoolBase.sol/HypePoolBase.json
  packages/contracts/artifacts/contracts/interfaces/IEscrow.sol/IEscrow.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.dbg.json
  packages/contracts/artifacts/contracts/interfaces/IHypePool.sol/IHypePool.json
  packages/contracts/artifacts/contracts/interfaces/IRewarder.sol/IRewarder.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/DynamicEscrowUpgradeable.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/DynamicEscrowUpgradeable.sol/ERC20Basic.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.dbg.json
  packages/contracts/artifacts/contracts/upgradeable/HypePoolUpgradeable.sol/HypePoolUpgradeable.json
  packages/contracts/contracts/DynamicEscrowBase.sol
  packages/contracts/contracts/HypePool.sol
  packages/contracts/contracts/HypePoolBase.sol
  packages/contracts/contracts/interfaces/IHypePool.sol
  packages/contracts/contracts/upgradeable/HypePoolUpgradeable.sol
  packages/contracts/docs/main.js
Due: run-contracts-package-workflow

Updated abi for subgraph
  packages/subgraph/abis/HypePool.json
Due: none

backend: adds groups endpoint
  services/hype-backend/data-source.ts
  services/hype-backend/package.json
  services/hype-backend/src/app.module.ts
  services/hype-backend/src/entities/group.entity.ts
  services/hype-backend/src/entities/index.ts
  services/hype-backend/src/migrations/1683825323705-Group.ts
  services/hype-backend/src/models/IGroup.ts
  services/hype-backend/src/modules/group/group.controller.ts
  services/hype-backend/src/modules/group/group.module.ts
  services/hype-backend/src/modules/group/group.service.ts
  services/hype-backend/src/modules/group/index.ts
  services/hype-backend/test/jest-e2e.json
  services/hype-backend/tsconfig.json
Due: run-backend-service-workflow

client: ui changes and added group list page
  services/client/src/App.tsx
  services/client/src/assets/images/walkthrough.png
  services/client/src/components/header/Header.effects.tsx
  services/client/src/pages/Group/Group.tsx
  services/client/src/pages/Group/index.ts
  services/client/src/pages/Home/Home.effects.tsx
  services/client/src/pages/Home/Home.styled.tsx
  services/client/src/pages/Home/Home.tsx
  services/client/src/pages/Home/index.ts
  services/client/src/pages/Participate/Participate.tsx
  services/client/src/pages/index.ts
Due: run-client-service-workflow

Path conditions:
  run-contracts-package-workflow: any of: packages/contracts/.*
  run-client-service-workflow: any of: services/client/.*
  run-backend-service-workflow: any of: services/hype-backend/.*
